@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*couleurs principales*/
  --color-blue-400: #24388d;
  --color-blue-50: #445da7;
  --color-blue-800: #0a0f28;

  /*couleurs secondaires*/
  --color-gris-50: #fbfbfb;
  --color-gris-400: #afafaf;
  --color-dark: #0c0c0c;

  /*couleurs texte*/
  --color-text: var(--color-gris-50);
  --color-text-inverse: var(--color-blue-50);
  --color-text-strong: var(--color-blue-400);
  --bg-color: var(--color-blue-800);

  /*bordures*/
  --border-default: 1px solid var(--color-blue-50);
  --dorder-strong: 1.5 px solid var(--color-blue-400);

  /*polices et taille de la police*/
  --font-family: "Poppins", "Roboto", sans-serif;
  --font-size-xs: clamp(0.3rem, 1vh + .3rem, 1rem);
  --font-size-md: clamp(1rem, 2vw + 1rem, 2rem);
  --font-size-lg: clamp(3rem, 10vw + 2rem, 5rem);
  --text-size: 0.8rem;

  /*rayon de la bordure*/
  --border-radius-xs: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 7px;

  /*ombre des elements au survol*/
  --box-shadow-hover: 0 0 2px 4px rgba(var(--color-blue-400), 0.3);

  /*espacement: padding & margin*/
  --space-unit: 0.5rem;
  --space-1: var(--space-unit);
  --space-2: calc(var(--space-unit) * 2);
  --space-3: calc(var(--space-unit) * 3);
  --space-4: calc(var(--space-unit) * 4);
  --space-5: calc(var(--space-unit) * 5);
  --space-8: calc(var(--space-unit) * 8);
  --space-10: calc(var(--space-unit) * 10);
  --space-16: calc(var(--space-unit) * 16);
  --space-20: calc(var(--space-unit) * 20);
  
}
body{
  background-color: var(--bg-color);
  font-family: var(--font-family);
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}



header{
  padding: var(--space-2);
  align-items: center;
  height: var(--space-8);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  grid-area: "header";
  justify-content: space-between;
}
.nav-bar{
  display: none;
  z-index: 100;
  backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  position: fixed;
  min-height: 90vh;
  width: 100%;
  background-color: color-mix(in srgb, var(--color-blue-50) 30%, transparent);
  animation: fade .2s ease-out;
}
/*affichage de la nav-bar et animation*/
@keyframes fade{
  0%{
    translate: 0 -90vh;
  }
  100%{
    translate: 0 0;
  }
}
.active{
  display: flex;
}

.nav-bar ul{
  padding: var(--space-10) 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: fade .3s ease-out;
}
.nav-bar ul li{
  list-style: none;
  border-bottom: var(--border-default);
  padding: var(--space-4);
}

.nav-bar ul li a{
  color: var(--color-text);
  text-decoration: none;
  transition: color .2s ease-out;
}
.nav-bar ul li a:hover{
  color: var(--color-text-inverse);
}
.menu-hamburger{
  z-index: 101;
  right: var(--space-2);
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.fst-bar{
  width: 18px;
  height: 2px;
  background-color: var(--color-gris-50);
  transform: translateY(0);
  transition: transform .2s linear;
}
.lst-bar{
  width: 18px;
  height: 2px;
  background-color: var(--color-gris-50);
  box-shadow: 0 6px var(--color-gris-50);
  transform: translateY(0);
  transition: transform  .2s linear,
  box-shadow  0.01s linear;
}
/*animation du menu hamburger*/
.fstBar{
  transform: rotate(-45deg) translateY(4px);
}
.lstBar{
  transform: rotate(45deg) translateY(-4px);
  box-shadow: none;
}
.logo{
  height: var(--space-4);
  width: var(--space-8);
}
.logo__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main{
  grid-area: "main";
}
.homepage{
  color: var(--color-text);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space-3);
  min-height: calc(100vh - var(--space-8));
}
.homepage__image{
  display: none;
}
.homepage__title{
  letter-spacing: -10px;
  background-image: linear-gradient(to right,var(--color-blue-800) ,var(--color-blue-400)20%,var(--color-blue-50));
  background-clip: text;
  color: transparent;
  text-transform: capitalize;
  font-size: var(--font-size-lg);
  line-height: .9;
}
.homepage__card{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

}
.homepage__stats{
  z-index: -1;
  flex-wrap: nowrap;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--border-radius-lg);
  backdrop-filter: blur(50px);
  background: color-mix(in srgb, var(--color-blue-50) 10%, transparent);
  display: flex;
  gap: var(--space-3);
  font-size: var(--font-size-xs);
}
.homepage__stats div span{
  color: var(--color-text-inverse);
}
.homepage__stats div p{
  text-transform: capitalize;
}
.homepage__stats div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer{
  grid-area: "footer";
}
